.article-page {
    padding: 2rem;
    max-width: 800px;
    margin: 3rem auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.article-page-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    margin: 1.5rem auto; /* Adjusted for better spacing */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #003366;
    margin-bottom: 1.5rem;
}

.article-content {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;
    text-align: left;
    white-space: pre-line;
    margin-top: 1rem;
}

.article-content p {
    margin-bottom: 1.5rem;
}

.article-content ol {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    list-style-type: decimal;
}

.article-content li {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.article-content strong {
    font-weight: 700;
    color: #003366;
}

